@import url("https://fonts.googleapis.com/css2?family=Yaldevi:wght@200;300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 24px;
  font-family: sans-serif;
  line-height: 1.15;
}

p {
  color: rgb (60, 179, 113);
}

header {
    width: 100%;
    height: 8vh;
    background-color: rgb(58, 109, 140);
}

body {
  background-color: white;
  font-size: 1rem;
  font-family: "Yaldevi", sans-serif;
  font-weight: 200;
}

.card {
  color: rgb(240, 239, 239);
  background-color: rgb(44, 43, 43);
  padding: 1rem;
  border-radius: 8px;
  display: grid;
  place-items: center;
  font-family: "Yaldevi", sans-serif;
  line-height: 1, 8;
  text-align: center;
}
.grid-oben {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Yaldevi", sans-serif;
  text-align: justify;
  place-items: center;
  font-size: 24px;

}

.grid-oben img {
  width: 100%;
}

.card-oben {
    color: rgb(240, 239, 239);
    background-color: black;
    padding: 1rem;
    border-radius: 8px;
    display: grid;
    place-items: center;
    font-family: "Yaldevi", sans-serif;
    line-height: 1, 8;
    text-align: center;
}

.grid {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Yaldevi", sans-serif;
}
.card img {
  height: 16em;
  filter: grayscale(100%);
  font-family: "Yaldevi", sans-serif;
}
.card:hover {
  background-color: rgb(100, 99, 99);
}
h2 {
  color: #027333;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
h3 {
  color:#3A6D8C;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.social-icons{
width: 20px;
height: 20px;
}


Note: Color Range https://color.adobe.com/de/trends/Graphic-design
schwarz: RGB 7, 7, 13
dunkleres blau: RGB 38, 79, 115
helleres blau: RGB 58, 109, 140
knalliges grün: RGB 17, 191, 110
dunkleres grün: RGB 2, 115, 51